<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<form th:action="@{/updateCredentials}" method="post" th:object="${user}">
    <div>
        <label> Email : <input type="text" name="email" th:field="*{email}"/></label>
    </div>
    <div>
        <label> First Name : <input type="text" name="firstName" th:field="*{firstName}"/></label>
        <span  style="color:red" th:if="${errorFirstNameEmpty}"  th:text="${errorFirstNameEmpty}">Error</span>
    </div>
    <div>
        <label> Last Name : <input type="text" name="lastName" th:field="*{lastName}"/></label>
        <span  style="color:red" th:if="${errorLastNameEmpty}"  th:text="${errorLastNameEmpty}">Error</span>
    </div>
    <div>
        <label> Phone Number : <input type="text" name="phoneNumber" th:field="*{phoneNumber}"/></label>
        <span  style="color:red" th:if="${errorInvalidPhoneNumber}"  th:text="${errorInvalidPhoneNumber}">Error</span>
    </div>
    <div>
        <label> Address : <input type="text" name="address" th:field="*{address}"/></label>
    </div>
    <div>
        <input type="submit" value="Save"/>
    </div>
</form>
<form th:action="@{/updatePassword}" method="post" th:object="${user}">
    <div>
        <label> Password: <input type="password" name="password" th:field="*{password}"/> </label>
        <span  style="color:red" th:if="${errorPasswordEmpty}"  th:text="${errorPasswordEmpty}">Error</span>
        <span  style="color:red" th:if="${errorShortPassword}"  th:text="${errorShortPassword}">Error</span>
        <span  style="color:red" th:if="${errorPasswordSpecialCharacters}"  th:text="${errorPasswordSpecialCharacters}">Error</span>
        <span  style="color:red" th:if="${errorNewPasswordSamePassword}"  th:text="${errorNewPasswordSamePassword}">Error</span>
    </div>
    <div>
        <label> Confirm Password: <input type="password" name="matchingPassword" th:field="*{matchingPassword}"/> </label>
        <span  style="color:red" th:if="${errorNonMatchingPasswords}"  th:text="${errorNonMatchingPasswords}">Error</span>
    </div>
    <div>
        <input type="submit" value="Save"/>
    </div>
</form>
</body>
</html>