<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${isStandartAccount}">
    <label> To upgrade to Premium please select a payment method from below: </label>
</div>
<div th:if="${isPremiumAccount}">
    <label> Your account is Premium type. </label>
    <p>Click <a th:href="@{/cancelPremium}">here</a> to cancel you premium membership.</p>
</div>

<div>
    <p>Click <a th:href="@{/removeAccount}">here</a> to remove your account.</p>
</div>

<table  th:if="${matchingPaymentInformation}">
    <thead>
    <tr>
        <th> Credit Card Number </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${matchingPaymentInformation.empty}">
        <td colspan="2"> No Credit Cards Matched </td>
    </tr>
    <tr th:each="paymentInformation : ${matchingPaymentInformation}">
        <td><span th:text="${paymentInformation.creditCardNumber}"> Credit Card Number </span></td>
        <td><a th:href="@{/upgradeToPremium(id=${paymentInformation.id})}"> Use </a></td>
    </tr>
    </tbody>
</table>
</body>
</html>