<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<form th:action="@{/resetPassword(token=${param.token})}" method="post">
    <div>
        <label> Password: <input type="password" name="password"/> </label>
        <span  style="color:red" th:if="${errorPasswordEmpty}"  th:text="${errorPasswordEmpty}">Error</span>
        <span  style="color:red" th:if="${errorShortPassword}"  th:text="${errorShortPassword}">Error</span>
        <span  style="color:red" th:if="${errorPasswordSpecialCharacters}"  th:text="${errorPasswordSpecialCharacters}">Error</span>
    </div>
    <div>
        <label> Confirm Password: <input type="password" name="matchingPassword"/> </label>
        <span  style="color:red" th:if="${errorNonMatchingPasswords}"  th:text="${errorNonMatchingPasswords}">Error</span>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>